---
import Layout from "@layouts/Layout.astro";
import HeadingGroup from "@components/HeadingGroup.astro";
import { getCollection } from "astro:content";
import { createLocale } from "@lib/i18n";
import Languages from "~icons/heroicons/language-16-solid";

const blogEntries = (await getCollection("blog"))
    .filter((blog) => !blog.data.draft)
    .sort((a, b) => (a.data.date > b.data.date ? -1 : 1));

const { str, getLocaleUrl, locale } = createLocale(Astro.url);
---

<Layout
    title="Blog"
    lang={locale}
    description={str("A list of blog posts posted by me", "Een lijst van posts op mijn blog")}
    breadcrumbs={[["Blog"]]}>
    <HeadingGroup
        title="Blog"
        subtitle={str("A list of blog posts posted by me", "Een lijst van posts op mijn blog")}
    />
    <hr class="border-brand-hr my-5" />
    <ul class="flex flex-col gap-4 py-3">
        {
            blogEntries.map((blogPost) => (
                <li class="contents">
                    <article>
                        <div class="flex justify-between">
                            <a
                                href={getLocaleUrl(`/blog/${blogPost.id}`)}
                                class="decoration-brand-border text-lg font-medium underline underline-offset-1">
                                {blogPost.data.title}
                            </a>
                            <span class="text-brand-muted inline-flex items-center gap-1">
                                <p class="inline-flex items-center gap-1">
                                    <Languages class="-mb-0.5 h-4 w-4" />
                                    <span
                                        aria-label={`${str("Language", "Taal")}: ${blogPost.data.language}`}>
                                        {blogPost.data.language}
                                    </span>
                                </p>
                                <span aria-hidden="true">-</span>
                                <p class="tracking-tighter tabular-nums">
                                    <span class="sr-only">
                                        {str("Posted on", "Gepubliceerd op")}
                                    </span>
                                    {blogPost.data.date.toLocaleDateString(locale, {
                                        month: "short",
                                        day: "numeric",
                                        year: "numeric",
                                    })}
                                </p>
                            </span>
                        </div>
                        <p class="max-w-[50ch] [text-wrap:pretty]">{blogPost.data.description}</p>
                    </article>
                </li>
            ))
        }
    </ul>
</Layout>
