---
import Layout from "@layouts/Layout.astro";
import MapPin from "~icons/heroicons/map-pin-20-solid";
import Mail from "~icons/lucide/mail";
import GitHub from "~icons/simple-icons/github";
import Discord from "~icons/simple-icons/discord";
import BlueSky from "~icons/simple-icons/bluesky";
import Languages from "~icons/heroicons/language-16-solid";
import Archive from "~icons/heroicons/archive-box-20-solid";
import ArchiveBoxCrossMark from "~icons/heroicons/archive-box-x-mark-20-solid";
import { getCollection } from "astro:content";
import HeadingGroup from "@components/HeadingGroup.astro";
import { createLocale } from "@lib/i18n";

const blogEntries = (await getCollection("blog"))
    .filter((blog) => !blog.data.draft)
    .sort((a, b) => (a.data.date > b.data.date ? -1 : 1));

const { str, locale, getLocaleUrl } = createLocale(Astro.url);
---

<script>
    const emaildecode = (e: HTMLAnchorElement) => {
        let email = atob(e.dataset.mail || "");
        e.href = "mailto:" + email;
        const mailDisplay = e.querySelector("#mail-display");
        if (mailDisplay) mailDisplay.textContent = email;
    };

    document.querySelectorAll("a[data-mail]").forEach((x) => emaildecode(x as HTMLAnchorElement));
    document.addEventListener("astro:after-swap", () => {
        document
            .querySelectorAll("a[data-mail]")
            .forEach((x) => emaildecode(x as HTMLAnchorElement));
    });
</script>

<Layout
    title="Nils Beerten"
    lang={locale}
    description={str(
        "I'm Nils Beerten, also known as nbeerten or nbert. This is my personal website where I show my creations and occasionally write posts.",
        "Persoonlijke website van Nils Beerten — ook bekend als nbeerten of nbert — waarop ik mijn creaties toon en af en toe blogposts schrijf."
    )}>
    <section>
        <HeadingGroup title="Nils Beerten" smallMargin>
            <Fragment slot="subtitle">
                <span aria-hidden="true" aria-label="IPA pronunciation">/niːls bɪːrtən/</span>
                <span>•</span>
                <span
                    ><abbr title={str("also known as", "ook bekend als")}>aka</abbr> nbeerten, nbert</span
                >
            </Fragment>
        </HeadingGroup>
        <div>
            <!-- <p class="max-w-[60ch] [text-wrap:pretty] pt-2">
                    {str(
                        "I'm Nils Beerten. I am student and hobbyist web developer from the Netherlands. This is my personal website where I show my creations and occasionally write posts.",
                        "Persoonlijke website van Nils Beerten waarop ik mijn creaties toon en af en toe blogposts schrijf."
                    )}
                </p> -->
            <ul
                class="social-links text-brand-text mt-2 flex flex-col gap-2"
                aria-label={str(
                    "Social links and other information",
                    "Social links en andere informatie"
                )}>
                <li class="contents">
                    <div class="flex items-center">
                        <MapPin />
                        <p
                            class="-mb-[2px]"
                            aria-label={str("Location: The Netherlands", "Locatie: Nederland")}>
                            {str("Netherlands", "Nederland")}
                        </p>
                    </div>
                </li>
                <li class="contents">
                    <a href="#" data-mail="Y29udGFjdEBuaWxzYmVlcnRlbi5ubAo=">
                        <span class="sr-only">Email:</span>
                        <Mail />
                        <p class="mb-px" id="mail-display">{str("Contact", "Contact")}</p>
                    </a>
                </li>
                <li class="contents">
                    <a href="https://github.com/nbeerten">
                        <GitHub />
                        <p
                            class="mb-px"
                            aria-label={`GitHub ${str("username", "gebruikersnaam")}: nbeerten`}>
                            nbeerten
                        </p>
                    </a>
                </li>
                <li class="contents">
                    <a href="https://bsky.app/profile/nilsbeerten.nl">
                        <BlueSky />
                        <p
                            class="mb-px"
                            aria-label={`Bluesky ${str("username", "gebruikersnaam")}: @nilsbeerten.nl`}>
                            @nilsbeerten.nl
                        </p>
                    </a>
                </li>
                <li class="contents">
                    <div>
                        <Discord />
                        <p
                            class="mb-px"
                            aria-label={`Discord ${str("username", "gebruikersnaam")}: @nbeerten`}>
                            @nbeerten
                        </p>
                    </div>
                </li>
            </ul>
            <style>
                @reference "src/styles/global.css";

                .social-links {
                    svg {
                        @apply h-5 w-5;
                    }

                    & > li > a,
                    & > li > div {
                        @apply flex w-max items-center gap-2;
                    }

                    a {
                        @apply underline underline-offset-1;
                    }
                }
            </style>
        </div>
    </section>

    <hr class="border-brand-hr my-5" />

    <section>
        <h2 class="font-display text-brand-muted -ml-px text-xl font-medium">
            {str("Creations", "Creaties")}
        </h2>
        <ul class="grid grid-cols-1 gap-x-8 gap-y-6 py-3 md:grid-cols-2">
            <li>
                <a
                    href="https://github.com/nbeerten/nilsbeerten.nl/"
                    target="_blank"
                    class="decoration-brand-border text-lg font-medium underline underline-offset-1">
                    nilsbeerten.nl
                </a>
                <p
                    class="[text-wrap:pretty]"
                    set:html={str(
                        "Simple, minimal and handcrafted personal website and blog built using Astro and Tailwind CSS.",
                        "Eenvoudige, minimalistische en zelf ontworpen persoonlijke website en blog, gebouwd met Astro en Tailwind CSS."
                    )}
                />
            </li>

            <li>
                <span class="flex items-center justify-between gap-2">
                    <a
                        href="https://github.com/nbeerten/sluis/"
                        target="_blank"
                        class="decoration-brand-border text-lg font-medium underline underline-offset-1">
                        Sluis
                    </a>
                    <div class="text-brand-muted flex gap-2 text-sm">
                        <ArchiveBoxCrossMark class="h-5 w-5" />
                        {str("Out of service", "Buiten werking")}
                    </div>
                </span>
                <p
                    class="[text-wrap:pretty]"
                    set:html={str(
                        `A new desktop-optimised frontend for <a href="https://piped.video/" class="underline inline">Piped</a>, that allows you to watch YouTube videos without compromising privacy.`,
                        `Een desktop-geoptimaliseerde frontend voor <a href="https://piped.video/" class="underline">Piped</a>, die de mogelijkheid geeft om YouTube te kijken zonder privacyverlies.`
                    )}
                />
            </li>

            <li>
                <span class="flex items-center justify-between gap-2">
                    <a
                        href="https://github.com/nbeerten/tm-refresh-leaderboard/"
                        target="_blank"
                        class={`text-lg font-medium underline decoration-brand-border underline-offset-1 ${locale === "nl" ? "tracking-[-0.05em]" : ""}`}>
                        tm-refresh-leaderboard
                    </a>
                    <div class="text-brand-muted flex gap-2 text-sm">
                        <Archive class="h-5 w-5" />
                        {str("Archived", "Gearchiveerd")}
                    </div>
                </span>
                <p
                    class="[text-wrap:pretty]"
                    set:html={str(
                        `Trackmania plugin for Openplanet that allows the user to refresh the in-game leaderboards. The plugin is now maintained by <a href="https://github.com/ezio416/tm-refresh-leaderboard" class="underline inline">Ezio</a>.`,
                        `Trackmania plugin voor Openplanet die de speler de in-game ranglijsten laat verversen. Inmiddels wordt deze plugin onderhouden door <a href="https://github.com/ezio416/tm-refresh-leaderboard" class="underline">Ezio</a>.`
                    )}
                />
            </li>

            <li>
                <a
                    href="https://github.com/nbeerten/fleetrouter/"
                    target="_blank"
                    class="decoration-brand-border text-lg font-medium underline underline-offset-1">
                    Fleetrouter
                </a>
                <p
                    class="[text-wrap:pretty]"
                    set:html={str(
                        "Ultra-minimal URLPattern-based (proof of concept) router for fleet-footed server-side routing.",
                        "Minimalistische (proof of concept) router gebaseerd op URLPattern voor razendsnelle server-side routing."
                    )}
                />
            </li>
        </ul>
    </section>

    {
        blogEntries.length > 0 && (
            <section class="mt-6">
                <h2 class="font-display text-brand-muted -ml-px text-xl font-medium">Blog</h2>
                <ul class="flex flex-col gap-6 py-3">
                    {blogEntries.slice(0, 3).map((blogPost) => (
                        <li class="contents">
                            <article>
                                <div class="flex justify-between">
                                    <a
                                        href={getLocaleUrl(`/blog/${blogPost.id}`)}
                                        class="decoration-brand-border text-lg font-medium underline underline-offset-1">
                                        {blogPost.data.title}
                                    </a>
                                    <span class="text-brand-muted inline-flex items-center gap-1">
                                        <p class="inline-flex items-center gap-1">
                                            <Languages class="-mb-0.5 h-4 w-4" />
                                            <span
                                                aria-label={`${str("Language", "Taal")}: ${blogPost.data.language}`}>
                                                {blogPost.data.language}
                                            </span>
                                        </p>
                                        <span aria-hidden="true">-</span>
                                        <p class="tracking-tighter tabular-nums">
                                            <span class="sr-only">
                                                {str("Posted on", "Gepubliceerd op")}
                                            </span>
                                            {blogPost.data.date.toLocaleDateString(locale, {
                                                month: "short",
                                                day: "numeric",
                                                year: "numeric",
                                            })}
                                        </p>
                                    </span>
                                </div>
                                <p class="max-w-[50ch] [text-wrap:pretty]">
                                    {blogPost.data.description}
                                </p>
                            </article>
                        </li>
                    ))}
                </ul>
                <div class="pt-1">
                    <a href={getLocaleUrl("/blog")} class="text-brand-muted">
                        {str("All posts", "Alle posts")} →
                    </a>
                </div>
            </section>
        )
    }
</Layout>
