---
import { ClientRouter } from 'astro:transitions';
import Navigation from "@components/Navigation.astro";
import "src/styles/colors.css";
import { createLocale } from "@lib/i18n";
import type { CollectionEntry } from "astro:content";

const { getLocaleUrl, locale } = createLocale(Astro.url);

interface Props {
    title: string;
    description?: null | string;
    article?: false | CollectionEntry<"blog">["data"];
    class?: string;
    back?: string;
    lang: "en" | "nl";
    noindex?: boolean;
    breadcrumbs?: [string, string?][];
}

const {
    title,
    description = null,
    article = false,
    class: className,
    back = "/",
    lang,
    noindex = false,
    breadcrumbs = [],
} = Astro.props;

function breadcrumbsToJson(breadcrumbs: [string, string?][]): string {
    return JSON.stringify({
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        itemListElement: [
            breadcrumbs.map(([label, path]) => {
                const ListItem = {
                    "@type": "ListItem",
                    position: 1,
                    name: label,
                };
                if (path) {
                    return {
                        ...ListItem,
                        item: new URL(getLocaleUrl(path, locale), Astro.site).toString(),
                    };
                }
                return ListItem;
            }),
        ],
    });
}
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <link
            rel="preload"
            href="/fonts/Satoshi-Variable.woff2"
            as="font"
            type="font/woff2"
            crossorigin
            transition:persist
        />
        <link
            rel="preload"
            href="/fonts/Inter-Variable.woff2"
            as="font"
            type="font/woff2"
            crossorigin
            transition:persist
        />

        <link rel="icon" href="/favicon.ico" sizes="any" />
        <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />

        {/* SEO */}
        {noindex && <meta name="robots" content="noindex" />}
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="generator" content={Astro.generator} />

        <title>{title}</title>
        <meta name="description" content={description} />

        <link
            rel="alternate"
            hreflang="en"
            href={new URL(getLocaleUrl(Astro.url, "en"), Astro.site)}
        />
        <link
            rel="alternate"
            hreflang="nl"
            href={new URL(getLocaleUrl(Astro.url, "nl"), Astro.site)}
        />
        {
            breadcrumbs.length > 0 && (
                <script
                    type="application/ld+json"
                    is:inline
                    set:html={breadcrumbsToJson(breadcrumbs)}
                />
            )
        }

        {
            Astro.url.pathname === "/" && (
                <script
                    type="application/ld+json"
                    is:inline
                    set:html={`{
                    "@context": "https://schema.org",
                    "@type": "WebSite",
                    "name": "Nils Beerten",
                    "alternateName": ["NB", "Nils"],
                    "url": "https://www.nilsbeerten.nl"
                }`}
                />
            )
        }

        {/* Theme color, later overriden by color scheme logic */}
        <meta name="theme-color" content="#ffffff" />

        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:type" content={article ? "article" : "website"} />
        {
            article && (
                <>
                    <meta property="article:published_time" content={article.date.toISOString()} />
                    <meta property="article:author" content="Nils Beerten" />
                </>
            )
        }
        {
            article && article.language === locale && (
                <script
                    type="application/ld+json"
                    is:inline
                    set:html={`{
                        "@context": "https://schema.org",
                        "@type": "BlogPosting",
                        "headline": "${article.title}",
                        "datePublished": "${article.date.toISOString()}",
                        "description": "${article.description}",
                        "url": "${new URL(getLocaleUrl(Astro.url, article.language), Astro.site)}",
                        "author": { "@type": "Person", "name": "Nils Beerten" }
                    }`}
                />
            )
        }
        <meta property="og:url" content={Astro.url} />

        <meta property="twitter:domain" content={Astro.url.host} />
        <meta property="twitter:url" content="https://www.nilsbeerten.nl" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={description} />

        <script is:inline>
            (function () {
                const storedScheme = localStorage.getItem("color-scheme");

                const prefersDarkScheme = storedScheme
                    ? storedScheme === "dark"
                    : window.matchMedia("(prefers-color-scheme: dark)").matches;

                document.documentElement.classList.add(prefersDarkScheme ? "dark" : "light");
            })();
        </script>

        <script>
            import ColorSchemeManager from "../scripts/colorScheme.ts";

            window.setColorScheme = ColorSchemeManager.setColorScheme;

            ColorSchemeManager.applyColorScheme(document);

            document.addEventListener("astro:before-swap", (event) => {
                ColorSchemeManager.applyColorScheme(event.newDocument);
            });

            document.addEventListener("astro:after-swap", () => {
                ColorSchemeManager.initializeColorSchemeToggler(document);
            });

            document.addEventListener("astro:page-load", () => {
                ColorSchemeManager.initializeColorSchemeToggler(document);
                window
                    .matchMedia("(prefers-color-scheme: dark)")
                    .addEventListener("change", () =>
                        ColorSchemeManager.applyColorScheme(document)
                    );
            });
        </script>

        <style is:global>
            :root {
                background-color: theme(colors.brand.background);
                color: theme(colors.brand.text);
                scrollbar-gutter: stable both-edges;

                font-feature-settings: "cv05", "cv07", "cv11", "ss01";
            }

            a,
            p,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                text-decoration-color: theme(colors.brand.border);
            }
        </style>

        <style is:inline>
            @font-face {
                font-family: "Satoshi";
                src:
                    local("Satoshi"),
                    url("/fonts/Satoshi-Variable.woff2") format("woff2");
                font-weight: 300 900;
                font-display: swap;
                font-style: normal;
            }

            @font-face {
                font-family: "Satoshi";
                src:
                    local("Satoshi"),
                    url("/fonts/Satoshi-VariableItalic.woff2") format("woff2");
                font-weight: 300 900;
                font-display: swap;
                font-style: italic;
            }

            @font-face {
                font-family: "Inter";
                src:
                    local("Inter"),
                    url("/fonts/Inter-Variable.woff2") format("woff2");
                font-weight: 100 900;
                font-display: swap;
                font-style: normal;
            }

            @font-face {
                font-family: "Inter";
                src:
                    local("Inter"),
                    url("/fonts/Inter-VariableItalic.woff2") format("woff2");
                font-weight: 100 900;
                font-display: swap;
                font-style: italic;
            }
        </style>

        {/* Fix prettier formatting; without this the <style> gets moved to inside the <body> */}
        <ClientRouter fallback="swap" />
    </head>
    <body class={`flex justify-center px-10 py-10 ${className}`}>
        <div class="w-full max-w-2xl">
            <Navigation class="mb-5" {back} />
            <main>
                <slot />
            </main>
        </div>
    </body>
</html>
